{% extends 'layouts/master.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row " >
            <div class="container text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="aler alert-{% if message.tags == 'error' %}danger {% else %}{{message.tags}}{% endif %} alert dismissible fade show" >
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4 marg">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>Photo de profil</h4>
                    </div>
                    <div class="card-body text-center">
                        {% if membre.photo %}
                            <img src="{{ MEDIA_URL }}{{ membre.photo }}" class="rounded-circle img-fluid" width="200" alt="Photo profil">
                        {% else %}
                            <div class="bg-secondary rounded-circle d-inline-block p-5">
                                <i class="bi bi-person text-white" style="font-size: 3rem;"></i>
                            </div>
                        {% endif %}
                        <h5 class="mt-3">{{ request.session.membres.prenom }} {{ membre.nom }}</h5>
                        <p class="text-muted">{{ membre.role|capfirst }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 marg">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>Informations personnelles</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Email</dt>
                            <dd class="col-sm-9">{{ membre.email }}</dd>
                            
                            <dt class="col-sm-3">Téléphone</dt>
                            <dd class="col-sm-9">{{ membre.telephone }}</dd>

                            <dt class="col-sm-3">Adresse</dt>
                            <dd class="col-sm-9">{{ membre.adresse }}</dd>
                            
                            <dt class="col-sm-3">Date de naissance</dt>
                            <dd class="col-sm-9">{{ membre.date_naissance }}</dd>
                        </dl>

                        <!-- Bouton pour Modal de Modification profil et Modification Password -->
                        <div class="mt-4">
                            <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifProfilModal">Modifier le profil</a>
                            <a href="" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModePasseModal">Changer le mot de passe</a>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-4">
                    <div class="card-header bg-primary text-white">
                        <h4>Mes Paiement cotisations</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Cotisation</th>
                                    <th>Montant</th>
                                    <th>Méthode</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paiement in paiements%}
                                <tr>
                                    <td>{{ paiement.date_paiement|date:"d/m/Y" }}</td>
                                    <td>{{ paiement.cotisation.titre }}</td>
                                    <td>{{ paiement.montant }}Ar</td>
                                    <td>{{ paiement.get_methode_paiement_display }}</td>
                                    <td>
                                        <span class="badge 
                                            {% if paiement.statut == 'valide' %}bg-success
                                            {% elif paiement.statut == 'refuse' %}bg-danger
                                            {% else %}bg-warning{% endif %}">
                                            {{ paiement.get_statut_display }}
                                        </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="alert alert-info">Aucune paiement cotisation enregistrée</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header bg-primary text-white">
                        <h4>Cotisations à payer</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for cotisation in cotisations %}
                            <div class="col-md-4 mb-4">
                                <div class="card h-100 shadow-sm">
                                    <div class="card-header bg-primary text-white">
                                        <h3>{{ cotisation.cotisations.titre }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ cotisation.cotisations.description }}</p>
                                        <ul class="list-unstyled">
                                            <li><strong>Montant:</strong> {{ cotisation.cotisations.montant }}Ar</li>
                                            <li><strong>Type:</strong> {{ cotisation.cotisations.type_cotisation }}</li>
                                            <li><strong>Période:</strong> {{ cotisation.cotisations.date_debut|date:"d/m/Y" }}
                                                {% if cotisation.cotisations.date_fin %} - {{ cotisation.cotisations.date_fin|date:"d/m/Y" }}{% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer bg-white">
                                            {% if cotisation.paiement %}
                                                {% if cotisation.paiement.statut == 'valide' %}
                                                        <button class="btn btn-success" disabled>
                                                            <i class="bi bi-check-circle"></i> Payé (Validé)
                                                        </button>
                                                {% elif cotisation.paiement.statut == 'en_attent' %}
                                                    <button class="btn btn-warning" disabled>
                                                        <i class="bi bi-hourglass"></i> En attente
                                                    </button>
                                                {% elif cotisation.paiement.statut == 'refuse' %}
                                                    <button class="btn btn-danger" disabled>
                                                        <i class="bi bi-x-circle"></i> Refusé
                                                    </button>
                                                    <a href="{% url 'payer_cotisation' cotisation.cotisations.id %}" class="btn btn-primary">
                                                        Réessayer
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'payer_cotisation' cotisation.cotisations.id %}" class="btn btn-primary">
                                                    Payer cette cotisation
                                                </a>
                                            {% endif %} 
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <div class="col-12">
                                    <div class="alert alert-info">Aucune cotisation à payer actuellement.</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal pour les modification profil -->
    <div class="modal fade" id="modifProfilModal" tabindex="-1" aria-labelledby="modifProfilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modifProfilModalLabel">Modifier mon profil</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'updateProfile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Prénom</label>
                                    <input type="text" class="form-control" name="prenom" value="{{ membre.prenom }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nom</label>
                                    <input type="text" class="form-control" name="nom" value="{{ membre.nom }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email" value="{{ membre.email }}">
                                </div>
                            </div>
    
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Adresse</label>
                                    <input type="text" class="form-control" name="adresse" value="{{ membre.adresse}}">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Téléphone</label>
                                    <input type="tel" class="form-control" name="telephone" value="{{ membre.telephone }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Date de naissance</label>
                                    <input type="text" class="form-control" name="date_naissance" value="{{ membre.date_naissance }}">
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Photo de profil</label>
                            <input type="file" class="form-control" name="photo" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Bouton pour les modification mots de passe -->
    <div class="modal fade" id="ModePasseModal" tabindex="-1" aria-labelledby="ModePasseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="Label">Changer le mot de passe</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'modif_mot_passe' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Mot de passe actuel</label>
                            <input type="password" class="form-control" name="ancien_password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nouveau mot de passe</label>
                            <input type="password" class="form-control" name="nouveau_password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirmation nouveau mot de passe</label>
                            <input type="password" class="form-control" name="confirm_password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Mettre à jour</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

<style>
    nav{
        z-index: 1;
        margin-top: -50px;
    }
    .marg{
        margin-top: 2%;
    }

</style>

{% endblock content %}